@import url("font.css");

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: montserrat, sans-serif;
  margin: 0;
  background-color: #fff;
}

hr {
  height: 3px;
  margin: 30px;
  background-color: #2a7370;
}

/* ------- HEADER SECTION ------- */

header {
  background-color: #e38a3d80;
  position: fixed;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  width: 100vw;
  min-height: 60px;
  justify-content: space-between;
  align-items: center;
  container-type: inline-size;
  container-name: header;
  text-align: center;
  font-size: 20px;
  z-index: 20;
}

.header__menu-checkbox {
  display: none;
}

.header__open-nav-button {
  color: #5376a4;
  font-size: 3rem;
  font-weight: 600;
  position: absolute;
  right: 50px;
  z-index: 20;
}

.header__nav {
  display: none;
  background-color: #e38a3d80;
  position: absolute;
  margin-top: 60px;
  width: 100vw;
  top: 0;
  border-radius: 0 0 20px 20px;
  z-index: -1;
}

.item--productos {
  display: flex;
  text-decoration: underline;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.header__menu-checkbox:checked ~ .header__nav {
  display: flex;
  z-index: 10;
}

.header__nav-list {
  display: flex;
  flex-direction: column;
  height: 40vh;
  margin: auto;
  justify-content: space-evenly;
}

.header__logo-container {
  max-width: 100%;
  min-width: 120px;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 50px;
  z-index: 20;
}

.header__logo-container h2 {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
}

.header__logo-container img {
  width: 50px;
}

.header__nav-item {
  list-style: none;
}

.header__nav-item a {
  color: #000;
}

.header__nav-item a:not(:is(:hover, :active)) {
  text-decoration: none;
}

.item--productos:not(:is(:hover, :active)) {
  text-decoration: none;
}

/* ------- HEADER QUERIES ------- */

@container header (min-width: 600px) {
  .header__nav {
    display: flex;
    position: static;
    background-color: transparent;
    flex-direction: row;
    margin: 0;
    z-index: 20;
    justify-content: space-between;
  }

  .header__nav-list {
    flex-direction: row;
    height: auto;
    width: auto;
    gap: 20px;
    margin-right: 40px;
  }

  .header__open-nav-button {
    display: none;
  }
}

/* ------- HERO SECTION ------- */

.hero {
  container-type: inline-size;
  container-name: hero;
}

.hero__wrapper {
  background-image: linear-gradient(#01273290), url("../images/mesaas.jpg");
  display: flex;
  padding: 70px 20px 0 20px;

  background-position: center;
  background-size: cover;

  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 100%;
  height: 300px;
}

.hero h2 {
  color: white;
  text-align: center;
  margin: 0;
  font-width: 400;
  font-size: 24px;
}

.hero h3 {
  color: #fff3;
  text-align: center;
  margin: 0;
  font-size: 1rem;
}

.hero img {
  max-width: 100%;
  margin-bottom: 10px;
  width: 120px;
}

/* ------- HERO QUERIES ------- */

@container hero (min-width: 600px) {
  .hero__wrapper {
    padding: 80px 50px 0 50px;
    height: 650px;
  }

  .hero h2 {
    font-size: 40;
  }

  .hero img {
    width: 450px;
  }
}

/* ------- WHO IS MASTERCHEF SECTION ------- */

.description {
  width: 100%;
  container-type: inline-size;
  container-name: main;
}

.description h1 {
  text-align: center;
  font-size: 2rem;
  margin: 1rem 0;
  color: #3d9793;
}

.description h1 span {
  display: block;
  font-weight: 700;
}

.description-wrapper {
  display: flex;
  flex-direction: column;
  background-color: #dcecec;
  width: 100vw;
  min-height: 500px;
  margin: auto;
}

.description-wrapper__data-container {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.description-wrapper__img-container {
  flex: 1;
}

.description-wrapper__img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.description-wrapper__data-container p {
  font-size: 1rem;
  line-height: 1.5;
  color: #2e4a4c;
}

.description-wrapper__data-container button {
  align-self: flex-end;
  width: fit-content;
  margin-top: 2rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 10px;
  background-color: #3d9793;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.description-wrapper__data-container h2 {
  font-size: 4rem;
  color: rgba(61, 151, 147, 0.15);
}

/* ------- WHO IS MASTERCHEF QUERIES ------- */

@container main (min-width: 600px) {
  .description-wrapper {
    display: flex;
    flex-direction: row;
    background-color: #dcecec;
    width: 100%;
    min-height: 500px;
    margin: auto;
  }

  .description h1 {
    margin: 3rem 0;
    font-size: 4rem;
  }

  .description-wrapper__data-container p {
    font-size: 2rem;
  }

  .description-wrapper__data-container {
    padding: 50px;
  }

  .description-wrapper__data-container button {
    font-size: 2rem;
  }
}

/* ------- CHARACTERISTICS SECTION ------- */
.characteristics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  container-type: inline-size;
  container-name: characteristics;
  width: 100%;
  box-sizing: border-box;
  padding: 50px;
}

.characteristics h2 {
  color: #11928e;
  font-size: 2rem;
  text-align: center;
}

.characteristics__cards-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 24px;
  width: 100%;
  padding: 0 50px;
  justify-content: center;
}

.characteristics__card {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  background-color: #e8faf9;
  border-radius: 20px;
  padding: 0 0 50px;
}

.mid-card {
  background-color: #385655;
}

.characteristics__card img {
  border-bottom: 5px solid #385655;
  width: 100%;
  height: 250px;
  object-fit: cover;
  display: block;
}

.mid-card img {
  border-bottom: 5px solid #e8faf9;
}

.characteristics__card h3 {
  color: #6abbb8;
  font-size: 2rem;
  text-align: center;
  font-weight: 700;
  margin: 20px 20px 0;
}

.mid-card h3 {
  color: #e8faf9;
}

.characteristics p {
  color: #245251;
  font-size: 1rem;
  text-wrap: pretty;
  text-align: center;
}

.mid-card p {
  color: #c9d9d9;
}

/* ------- CHARACTERISTICS QUERIES ------- */
@container characteristics (min-width: 600px) {
  .characteristics h2 {
    font-size: 4rem;
  }

  .characteristics p {
    font-size: 2rem;
    margin: 20px 20px 50px;
  }

  .characteristics__card h3 {
    font-size: 3rem;
  }
}

/* ------- PROMOTION SECTION ------- */

.promotion {
  container-type: inline-size;
  container-name: promotion;
}

.promotion__wrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 0 20px;
}

.promotion__data {
  display: grid;
  flex: 1;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 2fr 2fr 1fr;
  margin: auto;
  width: 100%;
}

.promotion__title {
  display: flex;
  justify-content: left;
  align-items: center;
  color: #385655;
  font-size: 2rem;
  grid-column: span 2;
}

.promotion__text {
  display: flex;
  justify-content: left;
  align-items: center;
  color: #245251;
  font-size: 1rem;
  grid-column: span 2;
}

.promotion__price {
  display: flex;
  justify-content: right;
  align-items: center;
  color: #385655;
  padding: 10px;
  font-size: 25px;
  border-right: 5px solid #385655;
}
.promotion__price span {
  font-size: 1rem;
}

.promotion__price-text {
  display: flex;
  justify-content: left;
  align-items: center;
  color: #24525180;
  padding: 0 0 0 20px;
  font-size: 1rem;
}

.promotion__button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.promotion__button {
  background-color: #11928e;
  color: #fff;
  font-size: 1rem;
  border-radius: 10px;
  border: none;
  padding: 15px 30px;
  cursor: pointer;
}

.promotion__link-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.promotion__more-link {
  color: #6a7e7e;
  font-size: 1rem;
}

.promotion__more-link:not(:is(:hover, :active)) {
  text-decoration: none;
}

.promotion__video-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.promotion__video {
  width: 100%;
  height: auto;
  border-radius: 20px;
  aspect-ratio: 16 / 9;
  display: block;
}

.promotion__video-description {
  font-size: 2rem;
  color: #6a7e7e;
}

/* ------- PROMOTION QUERIES ------- */
@container promotion (min-width: 600px) {
  .promotion__wrapper {
    flex-direction: row;
    padding: 50px;
  }

  .promotion__title {
    font-size: 3rem;
  }

  .promotion__text {
    font-size: 2rem;
  }

  .promotion__price {
    font-size: 3rem;
  }

  .promotion__price-text {
    font-size: 20px;
  }

  .promotion__wrapper {
    gap: 12px;
    min-height: 20px;
  }

  .promotion__button {
    font-size: 2rem;
    padding: 20px 50px;
  }

  .promotion__more-link {
    color: #6a7e7e;
    font-size: 2rem;
  }
}

/* ------- INFO1 SECTION ------- */

.info1 {
  container-type: inline-size;
  container-name: info1;
}

.info1__wrapper {
  display: flex;
  padding: 50px;
  flex-direction: row;
}

.info1__img {
  display: none;
  flex: 1;
  min-width: 0;
  object-fit: cover;
  border-radius: 30px 0 0 30px;
}

.info1__data {
  display: flex;
  flex: 1;
  gap: 20px;
  flex-direction: column;
  padding: 0 30px;
}

.info1__title {
  color: #11928e;
  font-size: 3rem;
  flex: 1;
}

.info1__text {
  color: #245251;
  font-size: 1.5rem;
}

.info1__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.info1__list-item::marker {
  color: #163938;
  font-size: 1.5em;
}

.info1__list-item {
  color: #245251;
  font-size: 1.5rem;
}

.info1__list-item span {
  color: #163938;
  font-weight: 700;
}

/* ------- INFO1 QUERiES ------- */

@container info1 (min-width: 600px) {
  .info1__img {
    display: block;
  }
}

/* ------- INFO2 SECTION ------- */
.info2 {
  container-type: inline-size;
  container-name: info2;
}

.info2__wrapper {
  display: flex;
  padding: 50px;
  flex-direction: row;
}

.info2__img {
  display: none;
  flex: 1;
  min-width: 0;
  object-fit: cover;
  border-radius:  0px 30px 30px 0;
}

.info2__data {
  display: flex;
  flex: 1;
  gap: 20px;
  flex-direction: column;
  padding: 0 30px;
}

.info2__title {
  color: #11928e;
  font-size: 3rem;
  flex: 1;
}

.info2__text {
  color: #245251;
  font-size: 1.5rem;
}

.info2__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.info2__list-item::marker {
  color: #163938;
  font-size: 1.5em;
}

.info2__list-item {
  color: #245251;
  font-size: 1.5rem;
}

.info2__list-item span {
  color: #163938;
  font-weight: 700;
}

/* ------- INFO2 QUERiES ------- */

@container info2 (min-width: 600px) {
  .info2__img {
    display: block;
  }
}

/* ------- INFO3 SECTION ------- */

.info3 {
  container-type: inline-size;
  container-name: info3;
}

.info3__wrapper {
  display: flex;
  padding: 50px;
  flex-direction: row;
}

.info3__img {
  display: none;
  flex: 1;
  min-width: 0;
  object-fit: cover;
  border-radius: 30px 0 0 30px;
}

.info3__data {
  display: flex;
  flex: 1;
  gap: 20px;
  flex-direction: column;
  padding: 0 30px;
}

.info3__title {
  color: #11928e;
  font-size: 3rem;
  flex: 1;
}

.info3__text {
  color: #245251;
  font-size: 1.5rem;
}

.info3__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.info3__list-item::marker {
  color: #163938;
  font-size: 1.5em;
}

.info3__list-item {
  color: #245251;
  font-size: 1.5rem;
}

.info3__list-item span {
  color: #163938;
  font-weight: 700;
}

/* ------- INFO1 QUERiES ------- */

@container info3 (min-width: 600px) {
  .info3__img {
    display: block;
  }
}